# Unity generated
[Ll]ibrary/
[Tt]emp/
[Bb]uild*/
[Bb]uilds/
[Ll]ogs/
[Oo]bj/
[Mm]emoryCaptures/
UserSettings/
*.csproj
*.sln
*.pidb
*.user
*.unitypackage

# 외부 에셋 (이미 옮겨둔 폴더)
**/Assets/3rdPartyAssets/
Assets/**/PaidAssets*/